.container
  .div1
    %p Something something
    %p Something something
    %p Something something
    %p Something something
    %p Something something
  .div2
    %p Something something
    %p Something something
    %p Something something
    %p Something something
    %p Something something
    %p Something something
    %p Something something
    %p Something something
    %p Something something
    %p Something something
    %p Something something
  .div3
    %p Something something
    %p Something something
    %p Something something
    %p Something something
    %p Something something
    %p Something something
    %p Something something
    %p Something something
    %p Something something

:javascript
  $(function(){
    $(".container").flexBoxes();
  });